#main .single_variation_wrap .summary .price,
.single-product #main .product-type-simple .summary .price {
    font-size: 32px;
    display: flex;
    flex-direction: column-reverse;
}

#main .single_variation_wrap .summary .price del,
.single-product #main .product-type-simple .summary .price del {
    opacity: 1;
    text-decoration: none;
    font-size: 20px;
}

#main .single_variation_wrap .summary .price ins:before,
.single-product #main .product-type-simple .summary .price ins:before {
    content: "Now: ";
}

#main .single_variation_wrap .summary .price del:before,
.single-product #main .product-type-simple .summary .price del:before {
    content: "Was: ";
}
.single_variation_wrap span.price span {
    font-size: inherit !important;
}
.admin-pricelist {
    border-collapse: collapse;
    width: 100%;
}
table.admin-pricelist td,
table.admin-pricelist th {
    padding: 5px 18px;
    font-size: 14px;
}

#gform_fields_2 .gform_show_password {
    background: none;
    padding-right: 0;
}

#gform_fields_2 .ginput_container,
#gform_fields_2 .gfield {
    margin-bottom: 0;
}

.product_list_widget span.price {
    display: block;
    line-height: 1.25;
}

.gform_button.button:hover, form.search:hover button {
    background: #d31a4e !important;
}

.user-role-wholesaler .payment_method_cheque,
.user-role-wholesaler .woocommerce-shipping-totals,
.user-role-wholesaler .wc_payment_methods {
    display: none;
}